/WL/WL.Server/obj
/WL/WL.Server/bin
/WL/wl.client/obj
/WL/.vs
/WL/wl.client/.vite
*.user

/Bank/Bank.Server/obj
/Bank/Bank.Server/bin
/Bank/bank.client/obj
/Bank/Bank.ServerTests/obj
/Bank/Bank.ServerTests/bin
/Bank/.vs
/Bank/bank.client/.vite
/Bank/obj
/Bank/bin
